<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!--layui公共模块-->
    <div th:fragment="menuRight">

    <!--数据表格-->
    <div>
    <table class="layui-hide" id="menuTable" lay-filter="menuTable"></table>
    <div id="menuToolBar" style="display: none">
        <button type="button" lay-event="add"  class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius">
            <i class="layui-icon layui-icon-add-1"></i>添加菜单
        </button>
    </div>
    <div id="menuRowBar" style="display: none;">
        <button type="button" lay-event="update"  class="layui-btn layui-btn-sm layui-btn-radius"><i
                class="layui-icon layui-icon-edit"></i>编辑
        </button>
        <button type="button" lay-event="delete"  class="layui-btn layui-btn-sm layui-btn-danger layui-btn-radius"><i
                class="layui-icon layui-icon-delete"></i>删除
        </button>
    </div>
</div>
    <script type="text/javascript" th:src="@{../layui_1/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{../layui_1/layui_ext/dtree/dtree.js}" charset="utf-8"></script>
    <script type="text/javascript">

    //提升数据表格的作用域，因为底下还有一个reloadTable方法
    var tableIns;

    layui.extend({
        dtree: '/layui_1/layui_ext/dtree/dtree'
    }).use(['jquery', 'form', 'layer', 'laydate', 'table', 'layedit','dtree'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var dtree = layui.dtree;

        //初始化表格 加载数据
        tableIns = table.render({
            elem: "#menuTable",
            title: "菜单数据表格",
            url: "/covidManageSystem/loadAllMenu",
            toolbar: "#menuToolBar",
            page: true,
            width:1070,
            height: "full",
            cols: [ [
                {field: 'id', title: 'ID', align: 'center',width:'50'},
                {field: 'pid', title: '父级菜单ID', align: 'center',width:'100'},
                {field: 'title', title: '菜单名称', align: 'center',width:'145'},
                {field: 'href', title: '菜单地址', align: 'center',width:'200'},
                {field: 'icon', title: '菜单图标', align: 'center',width:'90',templet:function (d) {
                        return '<font class="layui-icon">'+d.icon+'</font>';
                    }},
                {field: 'available', title: '是否可用', align: 'center',width:'100',templet:function (d) {
                        return d.available==1?'<span class="layui-badge layui-bg-green">可用</span>':'<span class="layui-badge layui-bg-red">不可用</span>';
                    }},
                {field: 'open', title: '是否展开', align: 'center',width:'100',templet:function (d) {
                        return d.open==1?'<span class="layui-badge layui-bg-blue">展开</span>':'<span class="layui-badge layui-bg-red">不展开</span>';
                    }},
                {field: 'ordernum', title: '排序码', align: 'center',width:'75'},
                {field: 'target', title: 'TARGET', align: 'center',width:'80',hide:true},
                {fixed: 'right', title: '操作', toolbar: '#menuRowBar', align: 'center',width:'180'}
            ] ],
            done: function (data, curr, count) {
                //不是第一页时，如果当前返回的数据为0那么就返回上一页
                if (data.data.length == 0 && curr != 1) {
                    tableIns.reload({
                        page: {
                            curr: curr - 1
                        }
                    })
                }
            }
        });

        //监控模糊查询按钮事件
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });

        //监控工具条事件
        table.on("toolbar(menuTable)", function (obj) {
            switch (obj.event) {
                case 'add':
                    openAddLayer();
                    break;
            };
        });

        //监控行工具条事件
        table.on("tool(menuTable)", function (obj) {
            //获取当前行数据
            var data = obj.data;
            switch (obj.event) {
                case 'delete':
                    deleteMenu(data);
                    break;
                case 'update':
                    updateMenu(data);
                    break;
            };
        });

        var mainIndex;
        var url;

        //打开添加弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','450px'],
                title:'添加菜单',
                success:function () {
                    $("#dataFrm")[0].reset();
                    //设置下拉树中父节点的值为空
                    $("#pid").val("");
                    url="/covidManageSystem/addMenu";
                    //初始化排序码
                    $.get("/covidManageSystem/loadMenuMaxOrderNum",function (res) {
                        $("#ordernum").val(res.value);
                    });
                    //设置下拉树的value值为空
                    selectTree.selectVal("");
                }
            });
        }

        //打开修改的弹出层
        function updateMenu(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','450px'],
                title:'修改菜单',
                success:function () {
                    //清空原有的数据
                    $("#dataFrm")[0].reset();
                    //装载新的数据
                    form.val("dataFrm",data);
                    //选中之前的父级菜单  nodeId=data.pid
                    dtree.dataInit("menuTree",data.pid);
                    dtree.selectVal("menuTree");
                    url="/covidManageSystem/updateMenu";
                }
            });
        }

        form.on("submit(doSubmit)",function (data) {
            $.post(url,data.field,function (res) {
                if (res.code==200){
                    tableIns.reload();
                    //重新加载添加弹出层的下拉树
                    selectTree.reload();
                    //重新加载左边的菜单树
                    window.parent.left.menuTree.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
            return false;
        });

        //删除
        function deleteMenu(data) {
            $.post("/covidManageSystem/checkMenuHasChildrenNode", {id: data.id}, function (resoult) {
                if (resoult.value){
                    layer.msg("当前菜单节点有子菜单，请选择删除子菜单！")
                }else {
                    layer.confirm('你确定要删除【' + data.title + '】这个菜单吗？', {icon: 3, title: '提示'}, function (index) {
                        $.post("/covidManageSystem/deleteMenu", {id: data.id},function (res) {
                            if (res.code == 200) {
                                tableIns.reload({
                                    where:"",
                                });
                                //刷新下拉树
                                selectTree.reload();
                                //刷新左边的菜单树
                                window.parent.left.menuTree.reload();
                            }
                            layer.msg(res.msg);
                        });
                        layer.close(index);
                    });
                }
            });
        }

        //初始化下拉树
        var selectTree = dtree.renderSelect({
            elem: "#menuTree",
            width: "100%", // 可以在这里指定树的宽度来填满div
            dataStyle: "layuiStyle", //使用layui风格的数据格式
            dataFormat: "list",     //配置data的风格为list
            response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
            url: "/covidManageSystem/loadMenuManagerLeftTreeJson" // 使用url加载（可与data加载同时存在）
        });

        //监听点击的方法
        dtree.on("node(menuTree)",function (obj) {
            $("#pid").val(obj.param.nodeId);
            console.log(obj.param.nodeId);
        })


    });

    //给其它页面刷新当前页面数据表格的方法
    function reloadTable(id) {
        tableIns.reload({
            where:{
                id:id
            },
            page:{
                curr:1
            }
        });
    }

</script>
</div>
</body>
</html>